
.portraitContainer {
	display: block;
	padding-left: 25vw;
	padding-right: 25vw;
	padding-bottom: 5vh;
	width: 100%;
	overflow:auto; 
}

#leftPortrait {
	width: 35%;
	height: 100%;
	float:left;
	text-align: center;
	padding-bottom: 5vh;
}

#rightPortrait {
	width: 35%;
	float:right;
	height: 100%;
	text-align: center;
	padding-bottom: 5vh;
}

#leftPortrait img {
	width: 100%;
	height: 100%;
}

#rightPortrait img {
	width: 100%;
	height: 100%;
}